@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(../fonts/roboto-regular-webfont.woff2) format(woff2);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url(../fonts/roboto-bold-webfont.woff2) format(woff2);
}