.container375 {
    max-width: 375px;
    margin: 0 auto;
    background: url(../images/Symbol.svg) center, var(--bg-gradient);
    background-size: cover;
    background-repeat: no-repeat;
}

/*===============< HEADER >===================*/
.top_wrapper {
    padding: 0 4%;
    margin: 0 auto;
}

.header_top,
.main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top {
    height: 45px;
    background-color: rgba(245, 245, 250, 0.2);
    margin-bottom: 15px;
}

.main_top {
    padding-bottom: 130px;
}

/*---------------Form_lang ------------------*/
.radio_langs {
    position: absolute;
    appearance: none;
}

.radio_lang {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 0.75rem;
    line-height: 1.218em;
    color: var(--color-white);
}

/* Checked */
.form_lang input[type=radio]:checked+label {
    background-color: var(--bc-red);
}

/* Hover */
.form_lang label:hover {
    background-color: var(--bc-red);
}

/*----------------------------------------*/
.hb-burger {
    margin-right: 1%;
}

.phone-number {
    line-height: 1.25rem;
    color: var(--color-white);
}

.tittle-wrapper {
    display: flex;
    place-content: center;
    margin-bottom: 160px;
}

.title {
    margin: 0;
    width: calc(100% - 315px/2);
    font-size: 2.375rem;
    line-height: 2.875rem;
    text-align: center;
    color: var(--color-white);
}

.scroll-btn_home__wrapper {
    display: flex;
    place-content: center;
    padding-bottom: 30px;
}

#scroll:hover path,
#scroll:hover circle {
    stroke: rgba(240, 20, 90, 0.9);
}

/*===============</HEADER >===================*/